// Home Content

.home {
  .intro {
    h2 {
      padding: 15px;
    }

    p {
      padding: 0 15px;
    }
  }

  .space-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    @media @phone {
      flex-direction: column-reverse;

      div {
        display: none;
      }
    }

    img {
      width: 28%;
      margin: 20px 2.5%;
      border-radius: 20px;
      height: 100%;

      @media @phone {
        width: 100%;
      }
    }

    div {
      display: flex;
      width: 56%;

      img {
        width: 50%;
        height: 80%;
        border-radius: 20px;
        justify-content: space-between;
      }
    }
  }

  .visit-planets {
    padding: 15px;

    h3 {
      margin-top: 11px;
    }

    p {
      margin-top: 13px;
    }
  }

  .walk {
    margin-top: 60px;
    border-top: 1px solid @main-border-color;
    padding: 50px 60px;
    display: flex;
    justify-content: center;

    @media @phone {
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
    }

    .walk-text {
      width: 50%;


      @media @phone {
        width: 100%;

        h3 {
          margin-bottom: 10px;
        }

        p {
          margin-bottom: 26px;
        }

      }
    }

    .walk-img {
      width: 46%;
      margin-left: 4%;

      img {
        border-radius: 20px;
      }

      @media @phone {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

// home

.header {
  color: @header-font-color;
}

.bs {
  .button-style(white, @btn-bg-color);
  width: 100px;
  height: 40px;
  border-radius: 10px;
  font-size: 2.0rem;
  margin-top: 25px;


  &:hover {
    color: @btn-bg-color;
    background: white;
  }

  @media @phone {
    width: 100%;
    height: 50px;
  }
}


.shiny {
  background-image: -webkit-linear-gradient(left,
    white 25%,
    #fde071 37.5%,
    #ef9671,
    #996a6e 62.5%,
    white 75%);
  background-image: linear-gradient(90deg,
    white 25%,
    #fde071 37.5%,
    #ef9671,
    #996a6e 62.5%,
    white 75%);
  background-position: right center;
  background-size: 400% auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: white;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  transition: color 200ms linear;
}

.shiny:hover {
  background-position: left center;
  color: #ef9671;
  transition: background-position 2000ms ease-out;
}